.title-date {
    text-align: center;
}

.title-0 {
    text-align: center;
    display: flex;
}


.fbig {

    text-align: center;
    display: flex;
  }
  
  .title-date {
    display: flex;
    margin: auto;
  }
  