.Wrap {
    padding: 10px;  
}

.RatingText {
color: #787878;
  font-size: 12px;
  font-weight: 400;
}

.Stars {
    color: lightgray;
 margin: auto;
  padding-top: 5px;
}

 .yellowStar {
    color: #89CFD3;
    cursor: pointer;
  }

input{
   border:1px solid white;
   width: 80%;
   height: 70px;
   margin: 10px;
    background-color: #89CFD3;
    color: white;
}



ul li{
    list-style:none;
    padding-left:0px;
}

