.Wrap {
    padding: 10px;  
}

.RatingText {
color: #787878;
  font-size: 12px;
  font-weight: 400;
}

.Stars {
    color: lightgray;
 margin: auto;
  padding-top: 5px;
}

 .yellowStar {
    color: #89CFD3;
    cursor: pointer;
  }

input{
   border:1px solid white;
   width: 80%;
   height: 70px;
   margin: 10px;
    background-color: #89CFD3;
    color: white;
}



ul li{
    list-style:none;
    padding-left:0px;
}


ul{
  text-align:left;
  margin: 2px;
}

li {
  font-family: 'MICEGothic Bold';
  display:inline-block;
  margin: 5px;
  padding: 5px;
  color: #5b9ca0;
}

button {
  font-family: 'MICEGothic Bold';
  background-color: #89CFD3;
  border: none;
  color: white;
  margin: 5px;
  padding: 5px;
}

.reviewbig {
  font-family: 'MICEGothic Bold';
  color: #89CFD3;
}


.ckeckreview {
  padding: 15px;

}

.ckeckreview :active {
  background-color: yellow;
}

.bookingtitle {
  font-family: 'MICEGothic Bold';
  color: #89CFD3;
}


.side_menu li {
  border: none;
}